<h2>Search Blogs</h2>
<form action="/blogs" method="GET">
  <div>
    <label>Title</label>
    <input type="text" name="title" value="<%= searchOptions.title %>">
  </div>
  <button type="submit">Search</button>
</form>
<br>
<div>
  <% blogs.forEach(blog => { %>
  <a href="/blogs/<%= blog.id %>">
    <div><%= blog.title %></div>
    <img height="150" width="150" src="<%= blog.blogImagePath %>">
  </a>
  <% }) %>
</div>