<header>
  <nav class="header-nav">
    <a class="header-title" href="/">BloggingApp</a>
    <ul>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/new">Add Author</a></li>
      <li><a href="/blogs">Blogs</a></li>
      <li><a href="/blogs/new">Add Blog</a></li>
      <li><a href="/comments/new">Add Comment</a></li>
    </ul>
  </nav>
</header>