<%# The pathes need to change %>
<h2>New Comment</h2>
<form action="/comments" method="POST">
  <%- include('_form_fields') %>
  <a href="/comments">Cancel</a>
  <button type="submit">Create</button>
</form>